# Terraform
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
*tfplan*

# Local var files (in this way i create a file with this ext to keep my personal values out of git)
*.auto.tfvars
*.tfvars

# Logs / OS / Editor
*.log
.DS_Store
Thumbs.db
.vscode/


# Artifacts / secrets
*.tar
devops_image.tar
*.pem
*.key
